@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Vazirmatn:wght@100..900&display=swap');
:root[data-theme='dark'] {
  --bg-primary: #fdf5f6;
}
:root[data-theme='light'] {
  //----------------bg color
  --bg-primary: #fdf5f6;
  --bg-third: #f2d7da;
  --bg-secondry: #fdfaf8;
  //-----------accent
  --accent-bg: #e35e89;
  --accent-text: #fbe9ef;
  //---------border
  --border-primary: #f7e7e9;
  --border-secondry: #e35e8891;
  //-------text
  --text-emphase: #f7e7e9;
  --text-primary: #2d323e;
  --text-secondry: #80838e;
  --text-accent: #e25182;
  //-----------svg
  --svg-color: #e25182;

  //--------active
  --active-bg-primary: #eaf4ea;
  --active-bg-secondry: #2aae63;
  --active-text: #001e08;
  //-------on progress
  --progress-bg-primary: #feebd8;
  --progress-text: #ed6634;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Vazirmatn', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
body{
    background-color: var(--bg-primary);
}
form{
    .form-layer{
        display: flex;
        flex-direction: column;
        input{
            height: 50px;
            border-radius: 10px;
            outline: none;
            border: 1px solid var(--border-primary);
        }
    }
}
.button{
    button{
        width: 100%;
        height: 50px;
        border-radius: 10px;
        background-color: #e35e89;
        p{
            color: white;
        }
    }
}